* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$mainBlack: #333;
$mainGrey: #f7f7f7;
$mainGreen: #4caf50;
$mainWhite: #fff;

body {
  background: $mainWhite;
  color: $mainBlack;
  font-family: "Open Sans", system-ui;
}
